@font-face {
  font-family: "ECAM Regular";
  src: url("../assets/ECAMFontRegular.ttf");
}

* {
  font-family: "ECAM Regular", serif !important;
  font-weight: 100 !important;
  color: white !important;
  margin: 0;
}

.page {
  width: 680px;
  height: 900px;
  margin: 0 auto;
  background: #7e9bbb;
  border-radius: 20px;
}

.page-splitter {
  position: relative;
  margin: 0 auto;
  width: 95%;
  height: 3px;
  background-color: white;
}

.screen {
  width: 480px;
  height: 380px;
  margin: 40px auto;
  background-color: black;
  border-radius: 10px;
}

// ROWS

.row-1 {
  display: flex;
  margin: 0;
  padding: 0;
}

// COLS

.col-1 {
  margin: 20px;
  padding: 0;
}

.col-2 {
  margin: auto 20px;
  padding: 0;
}

.col-3 {
  margin: auto 20px;
  padding: 0;
}