@font-face {
  font-family: "ECAM Regular";
  src: url("../assets/ECAMFontRegular.ttf");
}

h1 {
  color: white;
  font-weight: 100;
}

.page {
  font-family: "ECAM Regular", serif;
}

.rmp {
  width: 680px;
  height: 900px;
  margin: 0 auto;
  background: #7e9bbb;
  border-radius: 20px;
}

.screen {
  width: 480px;
  height: 360px;
  margin: 40px auto;
  background-color: black;
  border-radius: 10px;
}