.main-btn {
  font-family: "ECAM Regular", serif;
  background-color: #1C1C1C;
  width: 60px;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0 4px;
}

.left-btn {
  font-family: "ECAM Regular", serif;
  background-color: #1C1C1C;
  border-radius: 50%;
  border: none;
  width: 40px;
  height: 40px;
}

.right-btn {
  font-family: "ECAM Regular", serif;
  background-color: #1C1C1C;
  border-right: 60px;
  border: none;
  width: 40px;
  height: 40px;
}

.numpad-btn {
  font-family: "ECAM Regular", serif;
  background-color: #1C1C1C;
  border-radius: 50%;
  border: none;
  width: 40px;
  height: 40px;
}