@font-face {
  font-family: "ECAM Regular";
  src: url("assets/ECAMFontRegular.ttf");
}

.page {
  font-family: "ECAM Regular", serif;
}

.rmp {
  width: 700px;
  height: 900px;
  margin: 0 auto;
  background: #7e9bbb;
  border-radius: 50px;
}